:root{
    --fonte-titulos: 'Poppins', sans-serif, system-ui;
    --gradiente: linear-gradient(to right, #0B1F3A, #2563EB, #7C3AED);
}

h1 { position: static; }

html{overflow-x: hidden;}

header {
  display: flex;
  border-block-end: 2px solid; 
  height: fit-content;
  max-height: 60vh;
  border-image: var(--gradiente) 1;
  background-image: url(../conteudo/imagens/fundo-video.jpg);
  background-size:cover;
  background-position: center;
}

#titulo-nav {opacity: 1;}

.cta-header-fale-conosco{
  margin: 0;
  text-shadow: 0 0 20px black;
  padding: 5rem;
  color: var(--cor-principal5);
}

h1{ 
  text-align: center;
  font-family: var(--fonte-titulos);
  font-size: clamp(3rem, 7.5vw, 12rem);
}

.contatos .cards{
  display: flex;
  width: 90%;
  margin-inline: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  .card{
    flex: 1 1 30%;
    background-color: var(--cor-neutra2);
    text-align: center;
  }
}

.contatos{
  height: fit-content;
  padding: 1rem;
  background-color: var(--cor-principal1);
  
  a{ 
    text-decoration: none;
    color: var(--cor-principal2);
  }
  
  h2{ 
    text-align: center;
    padding-block-end: 1rem;
  }
  
  .card{
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  #cta-formulario{
    margin-inline: 1rem;
    padding-block: 1rem;
    color: white;
    text-align: center;
  }
}

.solicitacao {
  height: 100vh;
  display: flex;
  max-width: 100vw;
  background-color: var(--cor-principal5);
  padding: 1rem;
  h2{
    padding-block-start: 2rem;
    padding-block-end: 1rem;
    color: black;
    text-align: center;
    font-size: clamp(1rem, 6vw, 8rem)
  }
}

h2 { 
  font-size: 2rem;
  color: var(--cor-principal5);
}

.solicitacao li { list-style-type: "✓  "; }

form {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

h2 { font-size: 1.2rem; }

label {
    font-size: 1rem;
    color: var(--cor-principal4);
}

input, textarea, select, .formulario-btn-enviar {
    border: none;
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

input:focus, textarea:focus, select:focus { outline: none; }

textarea {
    min-height: 7rem;
    color: var(--cor-neutra3);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    resize: vertical;
}

option { background-color: lightray; }

.formulario-btn-enviar {
    background-color: var(--cor-neutra1);
    color: var(--cor-neutra5);
}

.faq {
    background-color: var(--cor-principal4);
    padding: 1rem;
}

.faq h2 { margin-block-end: 1rem; }

.faq .cards { padding: 0; }
<<<<<<< HEAD

=======
>>>>>>> 2cace08e1a62ff9f0d3e1dc0f12850324e481e53
